<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escola top</title>
</head>

<body>
    <h1>Escola TOP</h1>
    <form action="/aluno" method="POST">
        <input type="text" name='name' placeholder="Nome do Aluno" class="fild" required>
        <input type="text" name='surName' placeholder="Sobrenome do Aluno" class="fild">
        <input type="number" name='age' placeholder="Idade do Aluno" class="fild" required>
        <input type="text" name='serie' placeholder="Série do Aluno" class="fild" required>
        <input type="number" name='av1' placeholder="Nota da Av1 do Aluno" class="fild" required>
        <input type="number" name='av2' placeholder="Nota da Av2 do Aluno" class="fild" required>
        <input type="number" name='av3' placeholder="Nota da Av3 do Aluno" class="fild" required>
        <button>Salvar</button>
    </form>
</body>

</html>